<html>
   <head >
      <title>Credit/Debit Card Payment By Cardinity</title>
   </head>
   <body>
       <div>
            <form name="checkout" method="POST" action="https://checkout.cardinity.com">
                <button type=submit class="btn btn-primary">Pay now</button>
                <input type="hidden" name="amount" value="{{ amount }}" />
                <input type="hidden" name="country" value="{{ country }}" />
                <input type="hidden" name="currency" value="{{ currency }}" />
                <input type="hidden" name="order_id" value="{{ order_id }}" />
                <input type="hidden" name="description" value="{{ description }}" />
                <input type="hidden" name="return_url" value="{{ return_url }}" />
                <input type="hidden" name="project_id" value="{{ project_id }}" />
                <input type="hidden" name="signature" value="{{ signature }}" />
            </form
       </div>
   </body>
</html>